.services_section{
    background-color: black;
    margin: 2.5% 5%;
    color: white;
    padding: 30px 0;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.services_section.loaded{
    opacity: 1;
    transform: translateY(0);
}

.services_section .services_heading h2{
    text-align: left;
    margin-left: 5%;
    font-size: 30px;
}

.services_info {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap onto multiple lines */
    justify-content: center; /* Centers items horizontally */
    gap: 20px; /* Adds some spacing between items */
}

.services_individual_info {
    flex-basis: calc(33.333% - 40px); /* Each item takes approximately one-third of the container width minus the padding around images */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 0;
}

@media (max-width: 480px) {
    .services_section .services_heading h2{
        text-align: center;
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .services_section{
        margin-top: 4%;
    }

    .services_section .services_heading h2{
        text-align: center;
        margin-left: 0;
    }
}