.heading{
    color: white;
    
}

.heading h1{
    justify-content: center;
    align-items: center;
    display: inline-block;
    font-size: 40px;
    width: 100%;
    margin-left: -50%;
}

.heading .span2{
    background-color: aqua;
    width: 400px;
    color: black;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    line-height: 155px;
    margin-left: 12%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.heading .span1{
    margin-left: -20%;
}

.heading .span3{
    margin-left: 40%;
}

.gallery{
    background-color: black;
    height: 550px;
    width: 90%;
    margin-bottom: 30px;
}

.gallery1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery1 p{
    color: white;
    width: 40%;
}

.gallery1 img{
    padding-right: 20px;
}

.gallery2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery2 p{
    color: white;
    width: 40%;
}

.gallery2 img{
    padding-left: 20px;
}